.hidden {
    display: none;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1 100%;
    align-items: center;
  }
  
#contact-form > * {
    display: block;
    margin: 0.5%;
    width: 20em;
    box-shadow: 1px 1px 1px black;
}
  
  #messageBox {
    width: 20em;
    height: 15em;
  }